<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="sungjuk">

	<insert id="insertSungjuk" statementType="PREPARED"
		parameterType="siestageek.spring.vo.SungJuk">
		insert into sungjuk (name,kor,eng,mat,tot,mean,grd) 
		values (#{name},#{kor},#{eng},#{mat}, #{tot},#{avg},#{grd})
	</insert>
	
	<!-- <select id=""></select>
	<select id=""></select>
	<update id=""></update>
	<delete id=""></delete> -->

</mapper>